body {
  background-color: lightsalmon;
}

#title {
  text-align: center;
}

svg {
  background-color: #eee;
  display: grid;
  margin: 0 auto;
  border-radius: 20px;
  padding:10px;
}

.tooltip {
  background-color: #eee;
}

.bar:hover {
  fill:#eee;
}